.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-header   {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.second-header {
    background-color: #1f2937;
    display: flex;
}

.info-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    display: inline;
}